 
 * { margin: 0;
      padding: 0;
      box-sizing: border-box; } 
      .mySlides {display: none}
      img {vertical-align: middle;}
  
    #winter {
        background-color:#105702;
		height:50px;
        text-align:center;
        font-size:20px;
		font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
		padding:10px;
		padding-top:6px;
        color:white;
        letter-spacing:6px;
      }    
 
#snowflake{
	position:absolute; 	
}
    #winter a {
	   text-decoration: none; 
       color:white; 
	    }
#promotion{
	 font-size:20px;	 
	 vertical-align:middle;
}
#promotion span{
	font-family:Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace'; font-size:30px; 
	color:color:antiquewhite; 
	vertical-align: middle ;
}
    #Navdiv{
	  margin:0 auto; 
	  margin-top:10px;
      width:100%; 
	  padding:20px 10px;
	  position:relative;
      height:100px;
      background:white;     		
	  -webkit-box-shadow:0 1px 2px #999;
	-moz-box-shadow:0 1px 2px #999;
	 box-shadow:0 1px 2px #999;  
       }
 
  .homedropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display:none; 
  margin-top:3px;
  position: absolute;
  background-color: white;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.homedropdown:hover .dropdown-content {
  display: block;
}
 nav a.active, .navmenu:hover {
  background-color:#484D45;
  color: white;
}
    .menu { 
	    float:right; 
        margin-top:-30px;
        font-size:18px; 
        word-spacing:3px;
		       }   
    .menu a{text-decoration: none; 
            color:#575757;
            padding: 10px 20px;
             }
    
     
    #logo{
  	    display: inline-block;
            margin-top:-6px;
            margin-left:30px;
            float:left;
		    height:60px;
     	}
    #signin{             
            font-size:15px; 
            padding:8px 15PX; 
		    background:darkgreen;
		    float:right;
		    text-align: center;
            margin:13px ;
		    width:66px;
		    border: 0px solid white;
            border-radius: 0px;
            } 
    #signin a{text-decoration: none; 
              color:white;
              target:_blank;}

    #signin a:hover{
        color:#F4D21E;
        }
   
     .name { 
		    float:left;
            font-size:25px;
            font-family:"Georgia";
            color:#cb3b3b;
            text-shadow: 0 0 0.2em #cabbe9, 0 0 0.2em #cabbe9 ;
            margin-top :10px;
            margin-left:10px;
       }
     #main {
		    width:100%;
            height:auto;
            margin-top:-20px;
		              }
     
    .dropdown{
           clear:both;
           float:right;
           position:absolute; 
           top:30px;
           right:5px;
           cursor:pointer;
           display:none; 
		    }
   
  #hamburger {
  display: inline-block;
  cursor: pointer;
    }

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
 .menudropdown {
		 position:absolute;
         clear:both;
         right:-5px;
         width:300px ;  
	     display:none;
         background-color:white; 
         font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";  
		 font-size: 20px;
	     z-index: 999;
		// box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        }
 .menudropdown a {
	  text-decoration: none; 
          padding:15px 30px;          	      
	  color:#111;         
	  display:block;
	           }
 .menudropdown a:hover {
       background-color:#C8A590;
	   background-size: 260px;
	   color: black;
	   display:block;
      }
.smallfull{
	position:relative;
	width:100%;
	display:none;
}
.slideshow-container{
	 clear:both;
         position:relative;
         width:100%;    
         margin:0 auto;                 
         overflow:hidden;
       /*  border: 5px solid #fdfdfd;
		-webkit-box-shadow:0 3px 5px #999;
		-moz-box-shadow:0 3px 5px #999;
		 box-shadow:0 3px 5px #999;   */
          }

.prev, .next {
  position: absolute;
  vertical-align: middle;
  top: 45%;
  transform: translate(-50% 0); 
  padding: 16px;
  margin-top: 0px;
  color:#F4F1E9;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  cursor:pointer;
   }

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  display:none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 30px 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; 
}
#dot{
 position:absolute;
 left: 50%;
 transform: translate(-50%,-50%);
 margin-top:-50px; 
	}

.active, .dot:hover {
  background-color: #717171;
}

.prev:hover, .next:hover{
  background-color:rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
#picworddiv{
	position:absolute;
	top:0;
	left:10%;
	height:100%;
	width:25%;
	background-color: rgba(0, 0, 0, 0.4); 
}
    #picwords{	
	      position:absolute;
		  font-size:3.2vw;
		  font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		  color:#F4F3F3;
		  text-align:center;
		  top:12%;
		/*   top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); */
		  padding:80px 60px;
		  line-height:4vw;
		  
     }
   #picwordsmall{	
	      position:absolute;
		  font-size:5vw;
		  font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
		  color:#F4F3F3;
		  text-align:center;		   
		  top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); 
		  padding:30px 50px;
		  line-height:6vw;
		  background-color: rgba(0, 0, 0, 0.4);
     }
.container{
	position:relative;
	width:100%;
}
#top{
	position:absolute;
	top:0;
	left:0;
}
#left{
	position:absolute;
	bottom:0px;
	left:0;
}
#words{
	position:absolute;
	top:20%;
	left:12%;
	color:#dee;
	font-size:4vw;
}
#wordsbackground{
 	position:absolute;
        top:0;
        left:10%;
	width:35%;
	height:100%;
    background-color:rgb(111, 188,180, 0.5);	
}

#botton1{
	position:absolute;
	right:0;
	bottom:0px;
}
#botton2{
	position:absolute;
	right:300px;
	bottom:0px;
}
#aboutus{
	width:75%;
	margin:0 auto;
	text-align: center;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif" ;
}
#aboutus h1{
	font-size:50px;
	color:#535050;
	padding:100px 50px 40px 50px ;
}
#aboutus p{
	font-size:22px;
	color:grey;
	line-height: 35px;
}
	#serveice{
		clear:both;
		position:relative;
		margin:0 auto;
		text-align:left;
		padding:1% 10%;
		font-size:clamp(1.5rem, 1.9rem,3rem);		 		
		font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
		margin-top:130px;
		margin-bottom: -50px;
		color:#626E5C;
		opacity: 0.3;		
		font-weight: bold;
		letter-spacing:2px;
	   } 
.body-grid ,  .body-grid1{
	  display: grid;
	  grid-row-gap: 150px;
	  grid-template-columns: 40% 60%;
      padding: 10px;
	  width:100%;
	  margin:0 auto;
	  margin-top:200px;
}
	.grid-item, .grid-item1{
	  background-color: transparent;
	  position:relative;
	  text-align: center;
	  perspective: 1000px;
	 }
.grid-item{
	 
}
	#responsetext{
	  display:none;
	}
   .p1 {	   
	    text-align: center;
	    line-height:140%;
        margin: 20px 40px;       
	    font-size:1.2vw;
        font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
        color:#9F9C9C;
      }
    .title{	    
	   margin: 60px 20px;
       font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
       ext-align: center;
       color: grey;
	  font-size:50px;
      } 	
  .facialpic{
	  position:relative;
	  width:100%;
	  display:block; 	  
	  margin:0 auto;
	//  border-radius: 50%;
	  }

.flippic{
  position:relative;
  width:100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.pic{
	position:relative;
}
.facialpicture1, .facialpicture2{
	position:absolute;
	width:100%;
	display:block; 	  
	margin:0 auto;
}
.facialpicture2{
	left:0;
	width:100%;
	opacity: 0;
    transition: .5s ease;
}
 .facialpicture2:hover{
	 opacity: 1;
}
  /*   .facialpic1:after {
	  content: " ";
	  position: absolute;
	  left: 10%;
	  top: 5%;	  
	  width: 85%;
	  height: 100%;
      background-color:lightgray;
	  z-index: -1;
	} 
	.backg{
	  position:absolute;
      width:85%;
      height:200px;
	  background-color:green;
      botton:0;
	  right:0;
	}*/
.grid-item1:hover .flippic{
  transform: rotateY(180deg);
}

.facialpic1, .facialpic2 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.facialpic2 { 
  transform: rotateY(180deg);
}
   #lmbutton{
	    position:relative;	
	    margin:30px 0;
	   	font-size:18px;
		color:black;
	    background-color:white;
	    padding:5px 10px;
	    border:.5px solid  grey;
	    cursor:pointer;
	    -webkit-transition: color 1s;
		-moz-transition:    color 1s;
		-ms-transition:     color 1s;
		-o-transition:      color 1s;
		transition:         color 1s;	   
	}
#lmbutton:hover{
	background-color:lightgrey;
}
#booking{
    width:200px;
	margin:auto;
}
    #booking1 {
	  width:200px;
      height:60px;         
	  color:#151D1D;
      text-align:center;
      padding:9px 12px;
      background-color:#1E6A04;	   
      font-size:30px;
      font-weight:bold;
	  font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	  margin-top:150px;
	  border:none;
	  border-radius:30px;
	-webkit-transition: background-color 1s;
    -moz-transition:    background-color 1s;
    -ms-transition:     background-color 1s;
    -o-transition:      background-color 1s;
    transition:         background-color 1s;
    }

    #booking1 a {
       text-decoration:none;
       color:white;
	 -webkit-transition: color 1s;
    -moz-transition:     color 1s;
    -ms-transition:      color 1s;
    -o-transition:       color 1s;
    transition:          color 1s;
       }
    #booking1:hover{       
	   background-color:#C0B908;	    
      }
	#booking1 a:hover{
		color:white;
	}
    #buttom{
	  clear:both;
      width:100%;
	  display: flex;
      height:300px;
      background-color:#D0D0D0;
      margin-top:150px;
      text-align: center;
	  	}
    .buttontext{
	  font-size:14px;
	  line-height:30px;
      margin:12px;
      font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
      color:white;
      }
  
    .blogo {
        width:30px;
        height:30px;
	    background-color:white;
		padding:3px;
		border-radius: 20%;
		margin-top:20px;
		filter: grayscale(100%);
	  }
 .blogo1 {
        width:25px;
        height:25px;
	    background-color:#D0D0D0;
		padding:2px;
		border-radius: 20%;
		margin-top:20px;
	  }
    #lmbutton a{
	 text-decoration: none;
    }
#bt1, #bt2{
	margin:0 auto;
	padding: 10px  ;
	font-size:18px;
	line-height: 1.5;
	margin-top:50px;
}
#logo1{
	width:150px; 
	margin-left:-15px;
}
 
@media screen and (max-width:576px){
    #bodydiv,.slideshow-container{
           width:100%; 
        }
   .slideshow-container{margin-left:0;}
      .p1 {
        width:80%; 
        margin-top: -10px;
	    font-size:10px;} 	 
     }
   #picwords{ 
	 padding:15px;
    }
	.dot{
	margin-bottom:-25px;
	}
 
 .title{
		margin-top:30px;	    
	        }
@media screen and (max-width:768px){
	#responsetext{
		display:block;
	}
	#responsetext1{
		display:none;
	}
	 .slideshow-container{margin-left:0;}
     .menu {display:none;}
     .dropdown {display:inline-block}
     #signin {display:none;}          
     .name { 
             font-size:3vw;
	}
	 .title{		   
	      	font-size:30px;
	        }
 	#serveice, #booking1{margin-top:60px}
	#booking{
    width:140px;
	margin:auto;
}
	#booking1 {
        width:140px;
		font-size:20px;
		height:45px;	
    }
	#booking1 a:hover{
	  font-size:20px;
	}
	
	.body-grid {		 
	  display: grid;
	  gap: 20px;
	  grid-template-columns: 1fr;
	  margin-top:50px;
	   	}
	.facialpicture1, .facialpicture2{
		position:relative;
	}
	.facialpicture2{
		display:none;
	}
	.grid-item1:hover  .facialpicture1{
  		display:none;
	}
	.grid-item1:hover  .facialpicture2{
  		display:block;
		opacity:1;
}

	.slideshow-container{
		display:none;
	}
	.smallfull{
		display:block;
	}
	#picwords{
		font-size:32px;	   
	}
	.flippic{
		width:100%;
	}
	#bt1, #bt2{
    margin:0 auto;
    padding: 10px 0;
	font-size:15px;
	line-height: 1.2;
	margin-top:40px;
}
	#logo1{
	width:110px;
	}
	#buttom{
	height:200px;
	}
	#promotion{
		font-size:25px;
		margin-top:-10px;
	}
	#promotion span{
		font-size:45px;
	}
     }

@media screen and (max-width:998px){
    .menu {display:none;}
    .dropdown {display:inline-block;}
    #signin {display:none;} 
	#logo{
		height:55px;
	    margin-left:0px;
	    }   
	.title{
		font-sie:5vw;
	 }
    h3{
		margin-top: 130px;
	}
    }   
@media screen and (max-width:1200px)  {
	.body-grid{
	 width:100%;}
	.p1{
	 font-size:17px;
		}
	.facialpic{
		width:92%;
	}
	.facialpic1:after{
		width:90%;
		height:100%;
	}
	 
     }
