@charset "utf-8";
/* CSS Document */

#loginlogo{
	float:left;
	padding:60px;
	position:relative;
}
#login{
   width:500px;
   clear:both;
   margin:0 auto;
   margin-top:100px;
   padding:50px;
   text-align:center;
   font-size: 20px;
   color:#4F4C4C;
   
   }
 
#booking {
	position:relative;
    width:100%;  
	height:500px;
    margin-top:60px;
    font-size:20px;
	padding:10px;
	 
	/* border-radius: 30px;
	-webkit-box-shadow:0 1px 2px #999;
	-moz-box-shadow:0 1px 2px #999;
	 box-shadow:0 1px 2px #999; */
       	}

 form {
   width:100%;
   margin:10% 30% 3% 30%; 
   font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
   color:#464445;
     }
#form1{
	margin:0 auto;	 
}
label{
	background:#EFEFEF;
	padding:10px;
}
.form-control{      
     height:50px;
	 background:#F1EEBDD;
	 padding:5px;
 }     
#type1{
	margin: 0px 10px;
}
.b1{
	margin-left:45%; 
}
#submit1{
	margin:0 auto;
}
input[type=text], [type=password]{
	font-size:20px;
	padding:5px;
	margin-top:10px;	 
	border:1px solid gray;
 }
#eye{
	background:#E9E9E9;
	margin-left:-5px;
	border:1px solid gray;
	border-left:none;
	padding:6.5px;
}
#eyeon{
	width:1.6vw;  	 
}
input[type=button], #submit, #submit1, #submit2{
    border: 1px solid #ddd; 
	border-radius: 25px;
    color:#2E2E2E Black text color */
    font-size: 24px; /* Size of text */
    padding: 12px 30px;
    pointer:cursor;
    cursor:pointer; 
	background-color:#EFE2C6;
	margin-top:20px;
}
#submit1{
	position:relative;
 	font-size: 25px;
	margin-left: 45%;
}
#submit2{
	font-size:18px;
}
select, #date_info{
	font-size: 20px;
	color:#4D4B4B;
}
#creat{
	background:white;
	color:black;
	border:1px solid gray;
	font-size:18px;
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
@media screen and (max-width:700px){
     #booking {
      width:100%;
	  height:1200px;}
.form-control{      
     height:30px;
 } 
   form {
   margin:0;
   font-size:20px;
     }
 }
@media screen and (max-width:908px){
	 #booking {
     width:100%;  
	 height:500px;
	   }
	form{
		font-size: 20px;
		margin:10% 10%;
	}
	.form-control{      
     height:30px;
 } 
	
	input[type=text]{	 
	padding:5px;
	margin:10px;	 
}
}
 
@media screen and (max-width:1450px){


}
