@charset "utf-8";
/* CSS Document */

#loginlogo{
	float:left;
	padding:60px;
	position:relative;
}
#login{
   width:500px;
   clear:both;
   margin:0 auto;
   margin-top:100px;
   padding:50px;
   text-align:center;
   font-size: 20px;
   color:#4F4C4C;
   }

#type1{
	margin: 0px 10px;
}
.bookpic{
	width:100%;
	height:500px;
	background-image:url("../Images/bookpic.jpg");
	background-size:cover;
	background-repeat:no-repeat;
}
#bookarea{
	position:relative;
	width:600px;
	height:480px;
    top:10px;
	border:2px solid grey;
	background-color:rgba(200,200,200,0.9);
	margin-left:10%;  -webkit-box-shadow:0 3px 2px #999;
	-moz-box-shadow:0 3px 2px #999;
	 box-shadow:0 1px 3px #999; 
	}
.bookarea,.bookarea1, .bookarea2 {
	width:50%;
	float:left;
	margin:0 auto;
	padding:60px 25px 20px 50px;
}
.bookarea1{
	padding:60px 50px 20px 25px;
}
.bookarea2{
	width:70%;
	padding:0px 50px;	  
}
#subt{
	width:90px;
	position:relative;
	top:45px;
    left:-30px;
	cursor:pointer;
}
#subt:hover{
	width:95px;
}
label{
	font-size:18px;	
	color:black;
	font-weight:bold;
	font-family:amaranth;
}
select{
	width:100%;
	padding:3px ;
	margin:12px 0;	 
	border:1px solid grey;
}
input[type=text],input[type=date], [type=password]{
	width:100%;
	font-size:16px;
	padding:6px ;
	margin:12px 0;	 
	border:1px solid grey;
	  }
#eye{
	background:#E9E9E9;
	margin-left:-5px;
	border:1px solid gray;
	border-left:none;
	padding:6.5px;
}
#eyeon{
	width:1.6vw;  	 
}
 
input[type=button], #submit, #submit1, #submit2{
    border: 1px solid #ddd; 
	border-radius: 25px;
    color:#2E2E2E Black text color */
    font-size: 24px; 
    padding: 12px 25px;
    pointer:cursor;
    cursor:pointer; 
	background-color:#EFE2C6;
	 
}
#submit1{	 	
	margin:0 auto;
	width:140px;
	text-align:center;
	margin-top:100px;	
}
#submit2{
	font-size:18px;
}
select, #date_info{
	font-size: 20px;
	color:#4D4B4B;
}
#creat{
	background:white;
	color:black;
	border:1px solid gray;
	font-size:18px;
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
@media screen and (max-width:700px){
     #booking {
      width:100%;
	  height:1200px;}
.form-control{      
     height:30px;
 } 
   form {
   margin:0;
   font-size:20px;
     }
 }
@media screen and (max-width:908px){
	 #booking {
     width:100%;  
	 height:500px;
	   }
	form{
		font-size: 20px;
		margin:10% 10%;
	}
	.form-control{      
     height:30px;
 } 
	
	input[type=text]{	 
	padding:5px;
	margin:10px;	 
}
}
 
@media screen and (max-width:1450px){


}
