@charset "utf-8";
/* CSS Document */
#winter1{
	margin:0 auto;
	margin-top:100px;
	width:400px;
	height: 300px;
	background:#87380A;	 
	padding:20px;
	border-radius: 40px;
	background-image:url("../Images/border.png");
		-moz-background-size: 100% 100%;  
    -o-background-size: 100% 100%;  
    -webkit-background-size: 100% 100%;  
    background-size: 100% 100%;  
    background-repeat:no-repeat;  
}
#winterspecial{
    text-align:center;
    margin-top:38px;
    color:white;
}

