@charset "utf-8";
/* CSS Document */
#winter1{
	margin:0 auto;
	margin-top:100px;
	width:580px;
	height: 450px;
	background:;	 
	padding:20px;
	border-radius: 30px;
	background-image:url("../Images/border.png");
		-moz-background-size: 100% 100%;  
    -o-background-size: 100% 100%;  
    -webkit-background-size: 100% 100%;  
    background-size: 100% 100%;  
    background-repeat:no-repeat;  
}
#winterspecial{
    text-align:center;
    margin-top:0px;
    color:black;
}
#winterspecial1{
    text-align:center;
    margin-top:40px;
    color:black;
}
